/* Split the screen in half */
.split {
    height: 100%;
    width:  50%;
    position: fixed;
    z-index: 1;
    top: 10;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    /* background-color: #111; */
  }
  
  /* Control the right side */
  .right {
    right: 0;
    /* background-color: red; */
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 45%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
.float-child2 {
  width: 45%;
  float: right;
  padding: 20px;
  border: 2px solid red;
}  